Package: sdrivemontpn
Version: 0.1
Section: utils
Priority: optional
Architecture: all
Maintainer: theputernerd <theputernerd@gmail.com>
Description: A SMART drive monitoring tool
 A lightweight tool for monitoring SMART attributes of drives and generating plots.
